.table {
    width: 50%;
    margin: 10px auto;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    
    
}

@media only screen and (max-width: 767px) {
    /* phones */
    .table {
        width: 100%;
        margin: 0 auto;
    }

    .table th {
        font-size: 13px !important;
        margin-bottom: 0;
        padding: 0.625rem !important;
        text-align: right !important;
    }

    .table th:first-child {
        text-align: left !important;
        padding-left: 15px !important;
    }

    .table th:last-child {
        text-align: right !important;
        padding-right: 15px !important;
    }

    .table td {
        font-size: 15px;
        padding: 0.6rem !important;
        text-align: right;
    }

    .table td:first-child {
        text-align: left !important;
        padding-left: 15px !important;
    }
    .table td:last-child {
        padding-right: 15px !important;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}